# Importing the dataset

In [1]:
import numpy as np
import pandas as pd
#Take price in Crore and area in marla
df = pd.read_csv('final data mid (1) (3).csv')
df.head()

,price in crore,type,location,District,bathroom,bedroom,area,latitude,longitude
0,0.2500,Flat,Bahria Town Karachi,Malir,2,2,4.9,25.021452,67.303431
1,0.9720,Flat,Bahria Town Karachi,Malir,4,4,5.4,25.021452,67.303431
2,0.7420,Flat,Bahria Town Karachi,Malir,3,3,4.2,25.021452,67.303431
3,0.4464,Flat,Bahria Town Karachi,Malir,2,2,2.5,25.021452,67.303431
4,4.1000,House,DHA Defence,South,4,3,4.0,24.798393,67.032767

In [18]:
dummy_1 =pd.get_dummies(df.type)
merge = pd.concat([df,dummy_1],axis='columns')
final = merge.drop(['location','type','District'],axis='columns')
final

,price in crore,bathroom,bedroom,area,latitude,longitude,Farm House,Flat,House,Lower Portion,Penthouse,Upper Portion
0,0.2500,2,2,4.900000,25.021452,67.303431,0,1,0,0,0,0
1,0.9720,4,4,5.400000,25.021452,67.303431,0,1,0,0,0,0
2,0.7420,3,3,4.200000,25.021452,67.303431,0,1,0,0,0,0
3,0.4464,2,2,2.500000,25.021452,67.303431,0,1,0,0,0,0
4,4.1000,4,3,4.000000,24.798393,67.032767,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
23411,1.9900,3,3,7.933872,25.092281,66.961481,0,0,1,0,0,0
23412,70.0000,3,3,4.958670,24.927473,67.064127,0,1,0,0,0,0
23413,3.8000,4,4,10.942132,24.855068,67.049931,0,1,0,0,0,0
23414,3.0600,3,3,9.454531,24.855068,67.049931,0,1,0,0,0,0
23415,2.7000,3,3,9.454531,24.855068,67.049931,0,1,0,0,0,0

# dependent and Independent Variables

In [19]:
X = final.iloc[:, 1:].values 
 
Y = final.iloc[:, 0].values

In [20]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\dell\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: scipy in c:\users\dell\anaconda3\lib\site-packages (from xgboost) (1.3.1)
Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (from xgboost) (1.16.5)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0.1; however, version 21.2.2 is available.
You should consider upgrading via the 'C:\Users\DELL\Anaconda3\python.exe -m pip install --upgrade pip' command.

# Splitting the data set into test and training set

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

# Creating and initialising  XGBoost Regressor

In [23]:
from xgboost import XGBRegressor

In [24]:
regressor  = XGBRegressor()

# Fitting the regressor with data

In [25]:
regressor.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

# Predicting the prices

In [26]:
#Predicting for training set:
Y_pred_train = regressor.predict(X_train)
Y_pred_train

array([ 2.6660206,  6.371993 ,  0.3524931, ...,  3.3464518, 11.380765 ,
        1.6530726], dtype=float32)

In [27]:
#Predicting for test set:
y_pred = regressor.predict(X_test)

In [28]:
y_train

array([ 1.45,  6.4 ,  0.35, ...,  6.  , 16.  ,  1.15])

# Evaluating accuracy with RMSLE

In [29]:
#This metric measures the ratio between actual values and predicted values and takes the log of the predictions and actual values.
#Use this instead of RMSE if an under-prediction is worse than an over-prediction

In [30]:
def rmsle(y_pred,y_test) :
    error = np.square(np.log10(y_pred +1) - np.log10(y_test +1)).mean() ** 0.5
    Acc = 1 - error
    return Acc

In [31]:
print("Accuracy attained on Training Set = ",rmsle(Y_pred_train, y_train))

Accuracy attained on Training Set =  0.9445666949351462

In [32]:
print("Accuracy attained on Test Set = ",rmsle(y_pred,y_test))

Accuracy attained on Test Set =  0.9228642885499854

In [33]:

from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8163784372863357